{% extends 'blog/base.html' %}

{% block title %}
    About
{% endblock title %}

{% block content %}
    <h2>About the site</h2>
    <p>This site is built using Python in Django. It's deployed on an Alpine
        Linux virtual machine using Gunicorn and Nginx. It's monolithic, basic and
        sturdy in design, much like the author.</p>
    <ul>
        <b>Planned features</b>
    <li>Comments on blog posts</li>
    <li>Blog posts searchable by tag</li>
    <li>Blog posts searchable by text/title content</li>
    <li>A portfolio page with other projects</li>
    <li>A git repo to self-host my projects' code</li>
    </ul>
    <h2>About the author</h2>
    <p>Antony Fox-Bramwell is a 30-something husband and father from the East of
        England. He started coding shortly after his 31st birthday, but began
        writing about himself in the 3rd person long before that. He's been an
        enthusiastic fan of open source software since his late teens, and regrets
        not getting into tech when he was younger.</p>
{% endblock content %}
