<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
    <header>ANTONYFB.COM</header>
    <nav>
        <a href="{% url 'blog:home' %}">Home</a>
        <a href="{% url 'blog:about' %}">About</a>
        <a href="{% url 'blog:blog' %}">Blog</a>
        <a href="{% url 'blog:rss_feed' %}">RSS</a>
    </nav>
	{% block content %}{% endblock content %}
    <footer>
    </footer>
    </body>
</html>
