{% extends 'blog/base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <h1>Welcome!</h1>
    <p>This is the personal site of Antony Fox-Bramwell (me), a tech enthusiast
        with passion for the web, open source software, and Unix-like operating
        systems. I built this site as my first in-deployment backend web project,
        and I'm regularly writing for the blog and refining the code
        of the site itself.</p>
    <p>Take a look around, let me know what you think. You can find me on
        <a href="https://fosstodon.org/@afb">Mastodon</a> or drop me an email at
        antonyrbramwell@gmail.com and you can find my code at
        <a href="https://github.com/afoxbr">github</a>.</p>
{% endblock content %}
